<div class="container-fluid mt-4">

  <!-- SEARCH BAR -->
  <div class="search--bar--container mb-3">
    <div class="search--bar position-relative">
      <%= form_tag recipes_path, method: :get, class: 'd-flex justify-content-start' do %>
        <%= text_field_tag :query, params[:query],
          class: "form-control border--round--10 border-color-gray4 text-black bg-color-white py-2 text-gray1",
          placeholder: "Search by recipe or ingredients..." %>

        <% if params[:query] || params[:difficulty] %>
          <div class="position-absolute clear--search">
            <%= link_to recipes_path, request.query_parameters.merge({difficulty: nil, query: nil}), remote: true do %>
              <i class="far fa-times-circle"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- DIFFICULTY DROPDOWN -->
  <div class="dropdown d-flex flex-row align-items-center mb-3">
    <div class="small text-gray1 pe-1">Difficulty:</div>
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      All
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% ["easy", "medium", "hard"].each do |level| %>
        <li><%= link_to level, request.query_parameters.merge({difficulty: level}), class: "dropdown-item" %></li>
      <% end %>
    </ul>
  </div>

  <!-- INDEX SEARCH RESULTS -->
  <% if @search %>
    <div class="header--result">
      <h3 class="text-black"><%= @recipes.length %> results...</h3>
    </div>

    <ul class="m-0 p-0 grid">
      <% @recipes.each do |recipe| %>
        <li class="m-0 p-0 d-flex">
          <div class="card-global">
            <%= link_to recipe, class: "text-decoration-none" do %>
              <div class="relative">
                <%= cl_image_tag recipe.photo.key, class: "img-cover" %>
                <div class="absolute top-0 justify-content-end z-20 d-flex w-full smaller pt-2 pe-2">
                  <% rating = recipe.reviews.average(:rating).to_f.round(2) %>
                  <div class="badge_rating d-flex text-black <%= 'inactive--div' unless rating.positive? %>">
                    <%= image_tag "icon/rating-star.svg" %> <%= rating %>
                  </div>
                </div>
              </div>

              <div class="small bold text-gray1 text-center mt-3"><%= recipe.name %></div>

              <div class="d-flex justify-content-between align-items-center mt-3 pb-3 px-2">
                <div class="global_time smaller text-gray3">
                  Time <br>
                  <span class="bold text-gray1"><%= recipe.time %></span>
                </div>

                <div class="d-flex h-full global_bookmark">
                  <% favourite = Favourite.find_by(user: current_user, recipe: recipe) %>
                  <% if favourite %>
                    <%= link_to user_favourite_path(current_user, favourite), method: :delete, remote: true do %>
                      <%= image_tag "icon/bookmark-active.svg", class: "icon" %>
                    <% end %>
                  <% else %>
                    <%= link_to recipe_favourites_path(recipe), method: :post, remote: true do %>
                      <%= image_tag "icon/bookmark.svg", class: "icon" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>

  <% else %>
    <!-- CAROUSEL CARDS -->
    <div class="row flex-row flex-nowrap overflow-scroll hide-scrollbar">
      <% @recipes.first(6).each do |recipe| %>
        <div class="col-6 col-sm-4">
          <div class="card-slider relative w-full">
            <%= link_to recipe, class: "text-decoration-none" do %>
              <div class="relative">
                <%= cl_image_tag recipe.photo.key, class: "img-cover" %>
                <div class="absolute top-0 justify-content-end z-20 d-flex w-full smaller pt-2 pe-2">
                  <% rating = recipe.reviews.average(:rating).to_f.round(2) %>
                  <div class="badge_rating d-flex text-black <%= 'inactive--div' unless rating.positive? %>">
                    <%= image_tag "icon/rating-star.svg" %> <%= rating %>
                  </div>
                </div>
              </div>

              <div class="small bold text-gray1 text-center mt-3"><%= recipe.name %></div>

              <div class="d-flex justify-content-between align-items-center mt-3 pb-3 px-2">
                <div class="global_time smaller text-gray3">
                  Time <br>
                  <span class="bold text-gray1"><%= recipe.time %></span>
                </div>

                <div class="d-flex h-full global_bookmark">
                  <% favourite = Favourite.find_by(user: current_user, recipe: recipe) %>
                  <% if favourite %>
                    <%= link_to user_favourite_path(current_user, favourite), method: :delete, remote: true do %>
                      <%= image_tag "icon/bookmark-active.svg", class: "icon" %>
                    <% end %>
                  <% else %>
                    <%= link_to recipe_favourites_path(recipe), method: :post, remote: true do %>
                      <%= image_tag "icon/bookmark.svg", class: "icon" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <!-- RECOMMENDED RECIPES -->
    <h1 class="normal bold text-black mt-3">5 recipes to make this week</h1>
    <div class="row flex-row flex-nowrap overflow-scroll hide-scrollbar">
      <% @recipes2.sample(6).each do |recipe| %>
        <div class="col-12 col-lg-6">
          <div class="card-slider relative w-full">
            <%= link_to recipe, class: "text-decoration-none" do %>
              <div class="relative">
                <%= cl_image_tag recipe.photo.key, class: "img-cover gradient--image" %>
                <div class="absolute top-0 justify-content-end z-20 d-flex w-full smaller pt-2 pe-2">
                  <% rating = recipe.reviews.average(:rating).to_f.round(2) %>
                  <div class="badge_rating d-flex text-black <%= 'inactive--div' unless rating.positive? %>">
                    <%= image_tag "icon/rating-star.svg" %> <%= rating %>
                  </div>
                </div>
              </div>

              <div class="small bold text-gray1 text-center mt-3"><%= recipe.name %></div>

              <div class="d-flex justify-content-between align-items-center mt-3 pb-3 px-2">
                <div class="global_time smaller text-gray3">
                  Time <br>
                  <span class="bold text-gray1"><%= recipe.time %></span>
                </div>

                <div class="d-flex h-full global_bookmark">
                  <% favourite = Favourite.find_by(user: current_user, recipe: recipe) %>
                  <% if favourite %>
                    <%= link_to user_favourite_path(current_user, favourite), method: :delete, remote: true do %>
                      <%= image_tag "icon/bookmark-active.svg", class: "icon" %>
                    <% end %>
                  <% else %>
                    <%= link_to recipe_favourites_path(recipe), method: :post, remote: true do %>
                      <%= image_tag "icon/bookmark.svg", class: "icon" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
