<div class="col-12 col-lg-6">
  <div class="card-slider relative w-full">
    <%= link_to recipe, class: "text-decoration-none" do %>
      <div class="relative">
        <%= cl_image_tag recipe.photo.key, class: "img-cover gradient--image" %>

        <% rating = recipe.reviews.average(:rating).to_f.round(2) %>
        <div class="absolute top-0 justify-content-end z-20 d-flex w-full smaller pt-2 pe-2">
          <div class="badge_rating d-flex text-black <%= 'inactive--div' unless rating.positive? %>">
            <%= image_tag "icon/rating-star.svg" %> <%= rating %>
          </div>
        </div>
      </div>

      <div class="small bold text-gray1 text-center mt-3"><%= recipe.name %></div>

      <div class="d-flex justify-content-between align-items-center mt-3 pb-3 px-2">
        <div class="global_time smaller text-gray3">
          Time <br>
          <span class="bold text-gray1"><%= recipe.time %></span>
        </div>

        <div class="d-flex h-full global_bookmark">
          <% favourite = Favourite.find_by(user: current_user, recipe: recipe) %>

          <%= turbo_frame_tag dom_id(recipe, :favourite) do %>
            <% if favourite %>
              <%= link_to recipe_favourite_path(recipe, favourite),
                          method: :delete,
                          data: { turbo_method: :delete, turbo_frame: dom_id(recipe, :favourite) } do %>
                <%= image_tag "icon/bookmark-active.svg", class: "icon" %>
              <% end %>
            <% else %>
              <%= link_to recipe_favourites_path(recipe),
                          method: :post,
                          data: { turbo_frame: dom_id(recipe, :favourite) } do %>
                <%= image_tag "icon/bookmark.svg", class: "icon" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
